* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 1.5em;
}

h3,
p {
    font-size: 1em;
    font-weight: normal;
}

p{
    text-align: justify;
    padding-right: 8vw;
}

.mainimg {
    grid-area: mainimg;
}

.title {
    grid-area: title;
}

.genres {
    grid-area: genres;
}

.rating {
    grid-area: rating;
}

.description {
    grid-area: description;
}

.episodes {
    grid-area: episodes;
}

.main {
    padding: 10vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 5px;
    grid-template-areas: 'mainimg title title' 'mainimg genres genres' 'mainimg rating rating' 'mainimg description description' 'episodes episodes episodes';
}

.container {
    text-align: left;
}

#application-root {
    display: flex;
    align-items: center;
    justify-content: center;
}